colors = {
  text: #333333,
  bg: #ffffff,
  highlight: #ffff9d,
  border: #888888,
  button: {
    text: #ffffff,
    bg:   #00a388
  }
}

appearance()
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  
button()
  position: relative
  display: inline-block
  padding: 10px 25px
  font-size: 18px
  text-decoration: none
  color: colors.button.text
  background: colors.button.bg
  cursor: pointer
  border: none
  border-radius: 8px
  outline: none
  appearance()
  transition: box-shadow 200ms ease, top 200ms ease, left 200ms ease, color 200ms ease
  box-shadow: 2px 2px 0 2px darken(colors.button.bg, 5)
  &:hover,
  &:focus
    color: colors.highlight
  &:active
    box-shadow: 1px 1px 0 1px darken(colors.button.bg, 5)
    top: 3px
    left: 3px
    color: colors.highlight